<div class="card header-menu">
    <div class="title">Inventory</div>
</div>
<div class="card body-menu">
    <div class="table">
        <div class="card header-table">
            <div class="text">Action Buttons</div>
            <div class="text">Item Name</div>
            <div class="text">Item SKU</div>
            <div class="text">Quantity</div>
            <div class="text">Sell Price</div>
        </div>
        <div class="card body-table">
            
        </div>
        <div class="card footer-table">
            <div class="text" onclick="getItemListAPI('-1')">Previous</div>
            <div class="text blue">Page :</div>
            <div class="text" onclick="getItemListAPI('1')">Next</div>
        </div>
    </div>
</div>
<script>
    let menu = 'inventory'
    let page = 1;
    let size = 10;
    getItemListAPI()
    
    async function getItemListAPI(incrementDecrement = 0){
        page = page + (incrementDecrement * 1)
        if(page < 1){
            page = 0
        }
        let settings = {
            "url": `${(new URL(window.location)).origin}/api/v1/item/view/list`,
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${(new URLSearchParams(window.location.search).get("pageToken"))}`
            },
            "data": JSON.stringify({
                "editorEmail": `${(new URLSearchParams(window.location.search).get("email"))}`,
                "companyUUID": `${(new URLSearchParams(window.location.search).get("uuid"))}`,
                "page": `${page}`,
                "size": `${size}`
            }),
        };

        await $.ajax(settings).done(async function (response) {
            if(!response.items){
                $(`body`).append(`
                    <div class="card main-background" onclick="clearPopUp()">
                    </div>
                    <div class="card pop-up">
                        <div class="card title">
                            Warning Notification
                        </div>
                        <div class="card content-text">
                            ${response.error}
                        </div>
                    </div>
                `)
            }else{
                const accessAllowed = await getMenuActionAccessAPICall()
                accessAllowed['Create']? $(`.card.header-menu`).append(`<div onclick="renderCreateItem()" class="card header-menu-element">Create New Item</div>`) : 
                
                $(`.card.body-table`).empty()
                for(const eachItem of response.items){
                    $(`.card.body-table`).append(`
                        <div class="card body-row-table">
                            <div class="text action-buttons-group">
                                ${accessAllowed['Edit']? `<div class="action-button" onclick="editItem('${eachItem.itemSKU}', '${eachItem.companyUUID}')">
                                    Edit
                                </div>` : "" }
                                ${accessAllowed['View']? `<div class="action-button" onclick="viewItemDetails('${eachItem.itemSKU}', '${eachItem.companyUUID}')">
                                    View Details
                                </div>` : "" }
                            </div>
                            <div class="text">${eachItem.itemName}</div>
                            <div class="text">${eachItem.itemSKU}</div>
                            <div class="text">${eachItem.itemQty} ${eachItem.itemQtyUnit}</div>
                            <div class="text">${eachItem.itemCurrencySellPrice} ${eachItem.itemSellPrice}</div>
                        </div>
                    `)
                }
            }
        });
    }

    function editItem(itemSKU, companyUUID){

    }

    async function getMenuActionAccessAPICall(){
        let settings = {
            "url": `${(new URL(window.location)).origin}/api/v1/menu/view/list/access`,
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json",
                "Authorization": `Bearer ${(new URLSearchParams(window.location.search).get("pageToken"))}`
            },
            "data": JSON.stringify({
                "email": `${(new URLSearchParams(window.location.search).get("email"))}`,
                "uuid": `${(new URLSearchParams(window.location.search).get("uuid"))}`,
                "menu": `${menu}`
            }),
        };

        return new Promise(async (resolve, reject) => {

            await $.ajax(settings).done(async function (response) {
                console.log(response.access[0])
                if(!response.access){
                    $(`body`).append(`
                        <div class="card main-background" onclick="clearPopUp()">
                        </div>
                        <div class="card pop-up">
                            <div class="card title">
                                Warning Notification
                            </div>
                            <div class="card content-text">
                                ${response.error}
                            </div>
                        </div>
                    `)
                    resolve()
                }else{
                    resolve(response.access[0])
                }
            });
        });
    }

</script>